<ul>
  <li *ngFor="let item of types">
    <!-- <strong>1-</strong>=> <span>{{item.id}}</span><br>
    <strong>2-</strong>=> <span>{{item.id}}</span><br> -->
    <!-- <strong>Password</strong>=> <span>{{item.password}}</span> -->
    <button (click)="goToGame(item.id)" class="{{item.type}}">{{item.type}}</button>
    <!-- <button (click)="updateData(item.id)">{{item.id}}</button> -->
  </li>
</ul>
<ul>
  <li *ngFor="let item of typesInfo">
    <strong>Fb</strong>=> <span>{{item.fb}}</span><br>
    <strong>Tw</strong>=> <span>{{item.tw}}</span><br>
    <!-- <strong>Password</strong>=> <span>{{item.password}}</span> -->
    <!-- <button (click)="updateData(item.id)">Update</button> -->
  </li>
</ul>